[user]
	email = contact@muja.dev
	name = Muja Siyam
[init]
	defaultBranch = main

[core]
    pager = delta
	excludesfile = /home/xmawja/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[github]
	user = xmawja
